@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

/* Dark mode colors. */
:root[data-theme='dark'] {
	font-family: 'Changa', sans-serif;

	--sl-font: 'Changa', sans-serif;
	--sl-color-bg: #1b1c30;
	--sl-color-bg-nav: #222339;
	--sl-color-accent-low: #fff;
	--sl-color-accent: #3b6cde;
	--sl-color-accent-high: #6493ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #222339;
	--sl-color-black: #17181c;
}
div:where(.astro-mf7fz2mj) {
    background-color: #222339;
 }